#
# This file is for convenience only, to quickly set up what is necessary to develop in some IDE
# The real runtime requirements are held in pyproject.toml. BE SURE to update both files if necessary.

# Build/Test requirements

setuptools==70.1.1
build==1.2.1                        # MIT
wheel==0.43.0                       # MIT
mypy==1.10.0                         # MIT
black==24.4.2                       # MIT
pytest==8.2.1                       # GPL-2.0-or-later
pytest-cov==5.0.0                   # MIT
pytest_asyncio==0.23.6              # Apache 2.0
types-PyYAML==6.0.12.20240311       # Apache 2.0
types-aiofiles==23.2.0.20240403     # Apache 2.0
types-passlib==1.7.7.20240327       # Apache 2.0

# Runtime requirements

rich==13.7.1                        # MIT
requests==2.32.3                    # Apache 2.0
pyyaml==6.0.1                       # MIT
netifaces==0.11.0                   # MIT
aiosqlite==0.20.0                   # MIT
sqlalchemy[asyncio]==2.0.31         # MIT
websockets==12.0                    # BSD 3-Clause
fastapi==0.111.0                    # MIT
uvicorn==0.24.0.post1               # BSD 3-Clause
httpx==0.27.0                       # BSD 3-Clause
aiofiles==23.2.1                    # Apache 2.0
qemu.qmp==0.0.3                     # LGPLv2+
passlib==1.7.4                      # BSD
aioconsole==0.7.1                   # GPLv3
jinja2==3.1.4                       # BSD 3-Clause
asyncio-events==0.1.4               # BSD
