    #
    # Runtime requirements
    
    rich==13.9.4                     # MIT
    requests==2.32.3                 # Apache 2.0
    pyyaml==6.0.2                    # MIT
    netifaces==0.11.0                # MIT
    aiosqlite==0.20.0                # MIT
    sqlalchemy[asyncio]==2.0.36      # MIT
    websockets==14.1                 # BSD 3-Clause
    fastapi==0.115.6                 # MIT
    uvicorn==0.32.1                  # BSD 3-Clause
    httpx==0.28.1                    # BSD 3-Clause
    aiofiles==24.1.0                 # Apache 2.0
    qemu.qmp==0.0.3                  # LGPLv2+
    passlib==1.7.4                   # BSD
    aioconsole==0.8.1                # GPLv3
    jinja2==3.1.4                    # BSD 3-Clause
    asyncio-events==0.1.4            # BSD
    telnetlib3==2.0.4                # ISC
