#cloud-config
---
locale: en_US
timezone: Europe/Zurich
ssh_pwauth: true
password: password1
users:
  - name: ansible
    gecos: Ansible Automation User
    groups: users,admin,wheel
    sudo: ALL=(ALL) NOPASSWD:ALL
    shell: /bin/bash
    lock_passwd: true
    ssh_authorized_keys:
      - "ssh-rsa AAAAB3NzaC1yc2EAAAADAQABAAABAQD+Zo5EnA0fNi336bS8K0gpnmQ1csudD0bTZxkE4SzE7zGiD7Ybzb0vzkHVszYDC7H+2GEmeJAAn/t54kGPzCOsKomsqQXJ4h+MVLMmt9b01qBoObF02FFoPI1v/i9FWUGxr+WcyjvVzluGCSSSGMd/H6ri5o1Uo9ivy6PrbvxI1MARvVKBAhefjgJHNik1glZHMwVDCyMFNwSBlj8KV/pWoDT0cjVacTR0WoAcpxwfXHjx37FV15b/svelRsjPnzuW6UIk/gLqlvMIeIEubWriVi2DiRL4K3R2JMPHZ/VnEc/SVbilCjOZlsjCq/eqYd309ZeXAzytyGSaZrIWGQL9 imfeldma@bobeli.org"
package_update: true
package_upgrade: false
packages:
  - net-tools
ca_certs:
  remove_defaults: false
  trusted:
    - |
      -----BEGIN CERTIFICATE-----
      MIIEjzCCAvegAwIBAgIBATANBgkqhkiG9w0BAQsFADA5MR8wHQYDVQQKDBZUaGUg
      TXJNYXQgT3JnYW5pc2F0aW9uMRYwFAYDVQQDDA1Nck1hdCBSb290IENBMB4XDTIy
      MDEyMjA3MjEwMFoXDTQyMDEyMjA3MjEwMFowOTEfMB0GA1UECgwWVGhlIE1yTWF0
      IE9yZ2FuaXNhdGlvbjEWMBQGA1UEAwwNTXJNYXQgUm9vdCBDQTCCAaIwDQYJKoZI
      hvcNAQEBBQADggGPADCCAYoCggGBAO/H2cQ07yYK7gBueK6v74aamQzYrv4MfI/6
      sn49exknO33OnZu5vxiPFdfB1lTlQT95FkdHDg7LFrs8P4My2wIDDVY9/fb1DkTU
      Kj0fsaj26Xwsb49VPteIFMrweJZfai5g4zURkkivdmfAEMOChi8jOAryC8Bq21ld
      3OtZR9XGJXl+PTJvO3CWR/J9VOrdEaf7SEwHIKBhTUdfOopZaYIF28ZoWBHAnzsk
      QoJUOSRIMyaUjV7KDbu7mHeQ7iNzXZAGEUQMirWwAdJ91oRbB1IZmfsRpWpZp+RP
      07Xtq/CEZ+DXKKQM/8nGrtrimQe7KCMiMFOLCMMOF8L41m3n8pR5WnnsYjXzQplM
      /TtPOU+XMTqzcMpCy7scsiZtHy42JIpqvw5fZbj0ufnWQQmxUzOmqn43kzdfOzbP
      xl8q1v1JCoU3x4TZIA1N827+EgkD0JJZABHGreJD0Xai9P/LYN7S31pn48kCkmVa
      +iQEC80PUCi0flV0y/QyW7CDba4Z4QIDAQABo4GhMIGeMB8GA1UdIwQYMBaAFKmM
      rfxvmi+2NfGCSdXK+MW6oy59MA8GA1UdEwEB/wQFMAMBAf8wDgYDVR0PAQH/BAQD
      AgHGMB0GA1UdDgQWBBSpjK38b5ovtjXxgknVyvjFuqMufTA7BggrBgEFBQcBAQQv
      MC0wKwYIKwYBBQUHMAGGH2h0dHA6Ly9pcGEtY2EubXJtYXQub3JnL2NhL29jc3Aw
      DQYJKoZIhvcNAQELBQADggGBAMSGNQbPiHTaM+tRsK3XxmDHBdeb3cFavBDSklHg
      xQx3ryPJjMZsVdhK+MSv84/NXsl/t8k4g4CSE+TrTKHrIhLKDDgvq4ScUFXZM2d7
      cDFUdwFUzVxK3dbmRB0sOvEImNcqjRHT5NmvqbtDWvbIAG8bYkDsV+nMMylzDBfS
      rmNvaiBaK3dzm+Li3mGqX8IGSKsAivn613SL4RXbcD1J9LBQByPo/B2EH1q8r8xN
      cVCC3ZT8FHWhpquxbmvToSJZoXzOXz6nJMMUCe+En6EDNiSrlzn7QGkrdp1ehcwy
      1/GQ+aeCSaLX4usbbqO8QXqoGLV1a53Cahib5hxg04KTTkCMqCP5TT1yaYy2zDUi
      G6IIfO3vdetUVj6iXHa43FU+dpAqYUcORSd668xYgooUGSlQuXOnqZMmQCvOo96M
      X1wwRicKLZHuWc3o562GTuDrz2MimccqP6LzGhsVOfD8OBk/+RamsdXNBgADX0P7
      c4D6kUAv22Iz8SGv86dajrI8zg==
      -----END CERTIFICATE-----
final_message: |
  Welcome to MrMat - Playground
  Version:    $version
  Timestamp:  $timestamp
  Datasource: $datasource
  Uptime:     $uptime
